/* $orignal_primum_color = #673ab7; */

.main-container{
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.logo-img{
    width: 150px;
    height: 80px;
    margin-bottom: 64px;
}

.example-50-width {
  width: 50%;
}
.mbtns {
  margin-top: 24px;
  width: 50%
}