/* $orignal_primum_color = #673ab7; */

.main-container {
	width: 100%;
	height: 50%;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;


}
.logo-img {
  width: 152px;
  height: 80px;
  margin-bottom: 64px;
}

.example-50-width {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}
.mbtns {
  margin-top: 24px;
  width: 25%;
}
